[2020-04-08 16:35] araza6 opened #236 "Documentation of controlled_gate() should also mention anti-control capability"
http://qutip.org/docs/3.1.0/apidoc/functions.html#qutip.qip.gates.controlled_gate
The documentation of `controlled_gate()` in the link above only mentions the control operations that one can do. However, this can also implement anti-control operations if `control_value` is set to 0.

I think it should be documented too for ease of use. What do you all think?

[2020-07-14 17:18] sarsid opened #2 "Steps to Maintaining Commit History"
It seems like maintaining the commit history is slightly more tricky than anticipated. I am trying to see if there is a clean way to do it but in the meantime it would be nice to decide on the name for the folder where all our source files should sit in. I think @BoxiLi proposed `src`. We could also go with something like qutip_qip if we want to stick to that convention of naming.

There is some g

[2020-07-14 18:53] BoxiLi commented on #2
I found it, @goerz once argued in the google dev group that `src` is a better choice with this link https://blog.ionelmc.ro/2014/05/25/python-packaging/#the-structure.

[2020-07-14 20:04] goerz commented on #2
I'm definitely a proponent of `src`, but it shouldn't have any impact on how `qutip-qip` interacts with `qutip-core` or any other package: The `src` subdirectory only simplifies packaging and testing a little bit, in that there's no valid python package in the project root that might be accidentally be imported over the version of the package that's installed in the testing-virtual-environment.

I

[2020-07-17 22:06] sarsid commented on #2
@BoxiLi @ajgpitch I find the argument convincing enough to go with it. While I don't think I'm going to end up using @goerz's package, it is immensely helpful to get an idea of all the things we need to set up. I figured out a way using the[ git-filter-repo ](https://github.com/newren/git-filter-repo) package which is immensely useful. I am still figuring out a way to do it for the docs and the te

[2021-03-14 09:24] #2 closed

[2021-05-06 06:18] purva-thakre opened #21 "Running tests and src folder"
Is there some preferred way to run tests locally with `src/qutip_qip` path ? I wanted to check before I made a large number of changes.

Usually, I will navigate to the tests folder `cd qutip-project/qutip-qip/tests` and then run `pytest some_test.py`. This does appear to be the [preferred method in documentation](http://qutip.org/docs/latest/development/contributing.html#testing) except the docum

[2021-05-06 08:01] BoxiLi commented on #21
Hi @purva-thakre

Maybe miss the key point of your question, please point out if I do.

If you are using conda install `qutip_qip` in an editable way by
[code]
in this environment. Then running `pytest`  under tests folder *is* testing the local file under `src/qutip_qip/qasm...`. In principle, there should be no need to manipulate the module path. Or maybe I missed the reason in your case?

In so

[2021-05-06 08:49] purva-thakre commented on #21
@BoxiLi Yes, I do have the editable version installed.

You didn't miss the key point of my question except for the module path. I change directory to `src/qutip_qip/tests` and then run
`pytest some_test.py`.

Let `some_test` import some `qip` module. If it is imported as `from qutip_qip import something` then I kept on getting an error that module `qutip_qip` does not exist unless I change it to

[2021-05-06 10:37] BoxiLi commented on #21
That does sound like `qutip_qip` was not correctly installed. The importation should be `from qutip_qip import something`, without `src`.

One possible reason: did you check if qutip_qip is installed under your current environment? For instance, if you start from a fresh conda and use pip install, there is no python or pip in that environment. And the system may just use the system default pip.

[2021-05-06 16:19] purva-thakre commented on #21
Yes, I did have it installed in the correct environment. A new environment and a fresh install of qutip worked. Thanks !

[2021-05-06 16:19] #21 closed

[2021-05-13 08:56] nathanshammah opened #32 "Warning on gates when running basic code block from documentation"
I created a fresh conda environment with python==3.8 and run
pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.python.org/simple/ qutip-qip
It installed qutip-qip very fast. Do we have some sort of qutip.about() for qutip.qip? Or some basic test to test the installation?

I ran the code blocks at
and all worked fine. I got the following Warning when plotting the circuit:

[2021-05-13 08:57] nathanshammah opened #33 "Add links to qutip tutorials"
It would be nice to add some information, in the paper and in the readme (and possibly the documentation) of the fact that the tutorials are present in http://qutip.org/tutorials#quantum-information-processing and http://qutip.org/tutorials#nisq, possibly before the release.

I also propose to change the anchor from #quantum-information-processing to #qip.

[2021-05-13 09:11] BoxiLi commented on #32
No, we don't yet have something like `qutip.about()`. Maybe I can import that qutip module and use it.

In qutip-qip the `tests` folder is not packed in the installed version, because it is not in `src`. So I don't think there is a way to do something like `qutip.testings.run()`. The only way to test the code is to download the tests code and run pytest in that folder I think. Maybe @hodgestar kno

[2021-05-13 09:15] BoxiLi commented on #32
About `qutip.about()` I think the easiest way is to modify the `qutip.about()` function, try to find if `qutip-qip` is installed and  display it if it is installed.

[2021-05-14 08:42] hodgestar commented on #32
Generally I think keeping the test files outside the package is a good idea (it make the separation between the two very clear & keeps the size of the installed package down). If they're separate then there isn't a good way to run the tests without the source package. I think that's fine -- the time to run the tests is when the wheels are built, I think (i.e. in our GitHub deploy action).

[2021-05-14 09:01] nathanshammah opened #38 "Error when building or testing the docs"
From terminal, I get this error:
[code]
Is the following wrong?
[code]

[2021-05-14 09:30] BoxiLi commented on #38
Ok... I see the same. I can do it without `pip install doctest`. Maybe `doctest` is part of `sphinx`?

The following works for me.
[code]

[2021-05-14 09:37] nathanshammah commented on #38
@BoxiLi, your solution worked for me. I suggest updating the readme with basically the codeblock that you show. I guess the `pip install .` is not required there, as it's already in the installation.

[2021-05-14 11:18] #38 closed

[2021-06-01 15:25] quantshah opened #51 "Add `about()` function"
Since we are branching out and making `qutip_qip` a separate library, it might be beneficial to have something like `qutip.about` for qip. The about() function could list out the QuTiP version that the code is run with and help in debugging in the future.

Here is how the about function in QuTiP is written:

[code]

[2021-06-01 15:49] BoxiLi commented on #51
Thanks for the suggestion @quantshah. I think for the versions we only need to keep qutip-qip, qutip, numpy, scipy, matplotlib. Maybe we can also add our preprint to the citation, replacing the qutip ones?

[2021-06-01 16:34] BoxiLi commented on #51
Maybe a better idea is to modify `qutip.about()` to include `qutip-qip` version if installed. And we just import that function? This can be generalized to qutip-control etc.

[2021-06-10 05:50] paniash commented on #51
Hi! Can I take up this issue?

[2021-06-10 07:34] BoxiLi commented on #51
@paniash Sure! How do would you like to proceed?

[2021-06-13 14:15] nathanshammah opened #55 "Add information on the qutip-qip pulse paper"
We should add information on the preprint of the paper introducing the pulse features in `qutip-qip`.
My suggestion is to add:
- [  ] 1. a badge with the arXiv link in the readme, next to the other shields. Similarly to what done [here](https://github.com/unitaryfund/mitiq/).
- [  ] 2. A "Cite" section that shows up in the Readme
- [  ] 3. A "Cite" section that shows up in the documentation
- [  ]

[2021-06-13 15:35] purva-thakre commented on #55
I can take this.

Do you prefer a separate link at the left or add this information to the introduction page ?

[2021-06-13 19:15] purva-thakre opened #57 "Adding a link in RTD to fork the repo"
Which of the following styles are preferred to link to the main repo : [style 1](https://github.blog/2008-12-19-github-ribbons/), [style 2](https://tholman.com/github-corners/) ?

I know that in the past @nathanshammah has preferred to have style 2 because style 1 looks a bit old. Personally, I like both.

Right now each page in the documentation has a link to the source file to be able to make ch

[2021-06-14 10:53] nathanshammah commented on #57
Thanks @purva-thakre. We could use the right ribbon, maybe of a different color, for consistency with the one in https://qutip.org/documentation.html.

[2021-06-14 14:45] #55 closed

[2021-06-16 16:12] #33 closed

[2021-06-17 04:06] purva-thakre opened #60 "Make changes to installation order for circuit diagrams"
As stated [here](https://qutip-qip.readthedocs.io/en/latest/qip-basics.html#plotting-a-quantum-circuit), ImageMagick and latex have to be installed in order to get the circuit diagrams.

When trying to install ImageMagick, conda gets stuck trying to solve the environment (force stopped the process after +6 hours). The environment has all of the development dependencies for `qutip-qip` as well as t

[2021-06-17 08:29] BoxiLi commented on #60
Ok... I'm actually using a Windows installer so never tried that myself. Are you using `doc\requrements.txt` which fixes all the versions? If you are, you could try to start from a fresh environment and install packages like `numpydoc sphinx_rtd_theme` for doc without using `doc\requrements.txt`, as stated [here](https://qutip-qip.readthedocs.io/en/latest/installation.html#prerequisites). Then hop

[2021-06-17 16:01] purva-thakre commented on #60
I think `pdflatex` might be the problem. The package is old and has not been updated in quite a [while](https://pypi.org/project/pdflatex/). The dependencies for this are older and they clash with newer dependencies installed for the development environment.

One of the possible workarounds for it is to install[ full TeX package](https://tex.stackexchange.com/q/112734/203959). It's downloading now

[2021-06-17 17:06] purva-thakre commented on #60
`pdflatex` is actually not the issue. With a full `texlive` installation, there were no dependency errors.

There's some incompatibility with `imagemagick` dependencies. Yesterday, the installation for `imagemagick` got stuck at below before I force stopped the process.
[code]
Today, it's trying to resolve the errors as shown below :
[code]

[2021-06-17 17:28] BoxiLi commented on #60
Actually, there is no need to install the python package `pdflatex` at all. By `pdflatex` in the doc, I meant the common latex software like texlive.

Yeah, the installation guide for `imagemagick` needs some update. Maybe it is best to link both the repo and the official webpage https://imagemagick.org/script/download.php

[2021-06-17 17:34] purva-thakre commented on #60
Yeah, my mistake yesterday was thinking `pdflatex` was separate package.

I have attached the conda imagemagick resolution output. You talked about updating `reuiqrements.txt` with these but there's a lot to resolve. I think at least switching to python 3.8 instead of 3.9 could work and I will try to go over this later. Unless someone is aware of an easier way to specify the packages by going thro

[2021-06-17 21:26] BoxiLi commented on #60
Oh, let's not dig into that resolution output. I was just saying that if you managed to get a working environment with everything successfully installed, we can update `requirements.txt` accordingly.

I guess using `apt-get install` installs all dependencies along with `imagemagick` in a whole piece as an app, independent of conda and the packages installed. So there is no need for any dependency

[2021-06-17 21:50] purva-thakre commented on #60
Maybe hold on for a while.

I think this was an issue specific to my system and/or virtual environment. Even though all the needed packages are installed properly, there is no circuit diagram output because something is not working properly. If I try `qc.png`, there's no error message nor a picture output.

[2021-06-18 07:37] BoxiLi commented on #60
You won't see the plot in a python or IPython console. It will only work properly on Jupyter Notebook. On a Python console, you will only get
[code]

Now I also tried a bit. First I noticed a bug. Because we moved `Gate`, the method `_gate_label` is now undefined. It slides through because at the moment there is no tests for circuit plotting. we can correct that with `from .operations.gates import

[2021-06-18 15:43] purva-thakre commented on #60
Yes, I noticed this too. It will be included in the draft PR for single qubit decompositions. Would you prefer I make this a separate PR ?

Thanks for this ! I was able to print `<IPython.core.display.Image object>` but was unsure why I couldn't get an image.

Agree with this. We could make a plan for using `PlotQCircuit`.

[2021-06-18 17:06] purva-thakre commented on #60
@BoxiLi Is there a preferred spot where you want the dependencies information for a circuit diagram ? I am confused if I should have it on the [installation page](https://qutip-qip.readthedocs.io/en/latest/installation.html) or one of the [user guide pages](https://qutip-qip.readthedocs.io/en/latest/qip-basics.html#plotting-a-quantum-circuit).

[2021-06-19 08:13] BoxiLi commented on #60
A separate PR would be nice since it is not related to decomposition and is just a one line fix.

Yeah, you are right. It is probably better to put this on the installation page and a link to that in the user guide pages, maybe also in the error message?

Sure, let's make it as clear as possible.

[2021-06-19 10:05] BoxiLi commented on #60
[code]

Last evening I tried this on WSL and there is an issue about `apt-get install texlive`. This installs a relatively old version (2017) and `tlmgr` provides the packages in a more recent version (2021). This results in the following error.
[code]
According to https://github.com/tudace/tuda_latex_templates/issues/123, it is not recommended to install using the linux package manager. So one sh

[2021-06-19 11:53] BoxiLi commented on #60
For me, I need several additional packages `xkeyval standalone generic xypic`. I have to find them out by debugging on the runtime (using `breakpoint()`). I don't think it is a way for normal user.

Also I need `apt-get ghostscript`

And I end up having this error
[code]

Seems to be some new policy in imagemagick.

[2021-06-19 12:14] BoxiLi opened #62 "A circuit plotting routine using SymPy"
The current circuit plotting in `qutip-qip` uses LaTeX, which is powerful but requires dependencies that are hard to control as a Python package. The installation for users who do not already have a working tex environment is very clumsy.

As shown in [this notebook](https://github.com/rpmuller/PlotQCircuit/blob/master/SympyCircuitPlot.ipynb). Sympy might have a way to do this already (see [here](

[2021-06-19 14:40] purva-thakre commented on #60
Yes, I had the same issue. You need to make some changes in [`policy.xml`](https://stackoverflow.com/questions/52861946/imagemagick-not-authorized-to-convert-pdf-to-an-image)

[2021-06-19 15:00] #60 closed

[2021-06-21 14:26] FarooqKhaleel opened #64 "How can i generate the quantum circuit image with qutip?"
Dear Respected Members of the Group,
I hope you are doing well.
I am trying to reproduce the results of the following post:

https://nbviewer.ipython.org/github/qutip/qutip-notebooks/blob/master/examples/quantum-gates.ipynb#Gates-in-QuTiP-and-their-representation

in windows 10 environment and with Imagemagick, perl, Ghostscript and Latex are all installed and verified.
However, it seems like it c

[2021-06-21 14:34] purva-thakre commented on #64
You need to install `pdfcrop`. It could be solved by installing[ `texlive-extra-utils`](https://askubuntu.com/questions/864474/how-to-install-pdfcrop-in-ubuntu-14-04) or one of the recommended prerequisites for [latextools](https://pypi.org/project/latextools/).

@BoxiLi This seems to be a Windows issue.

[2021-06-21 14:37] FarooqKhaleel commented on #64
Is there a pip command for texlive-extra-utils tool?

[2021-06-21 14:39] FarooqKhaleel commented on #64
I installed the Latextool by the pip command, and i get the issue.
I am looking forward for other solutions.
Thank you very much for your help

[2021-06-21 16:03] purva-thakre commented on #64
@FarooqKhaleel You need not install `latextools`.

I meant the prerequisites for `latextools` which are listed on the [linked webpage](https://pypi.org/project/latextools/) - `texlive-latex-recommended texlive-latex-extra`.

[2021-06-21 16:07] FarooqKhaleel commented on #64
@purva-thakre
Thank you very much for your answer.
I tried and didnt work.
They couldnt be installed using pip commands.
I am running on windows 10 64 bits.
All other wheels that are required to be installed such magick, perl , etc. Are installed and verified.
I am lookong forward for your help.
Thanks alot

[2021-06-21 17:40] BoxiLi commented on #64
Hi @FarooqKhaleel , may I ask how you installed the LaTeX distribution? QuTiP's plotting functionality relies on the `qcircuit` package of LaTeX and it could be that you only installed the core latex without any packages.

On windows, I would recommend using MikTeX, which automatically install new packages if it is required. It takes a few extra minutes on the first run, but solves the trouble.

[2021-06-21 18:02] #57 closed

[2021-06-21 18:25] FarooqKhaleel commented on #64
@BoxiLi Thank you very much for your answer.

Regarding the LaTeX, i installed using pip commands

pip install Latex
pip install latextools

However, your advice almost worked.
Installing MikTeX almost solved the problem. However, I get the following error. It seems that qutip can not generate the pdf file.
qcirc.pdf.

Traceback (most recent call last):
  File "C:\Users\msi-pc\Desktop\farrrrr.py",

[2021-06-21 19:14] BoxiLi commented on #64
The packages
[code]
are not required. They are both Python packages that build a link between LaTeX and Python. An independent LaTeX distribution like MikTex is still required. Sorry if our installation guide is a bit vague on this.

Although the error message changes, it doesn't seem like we went very far... The `qcric.pdf` is still not generated. Have you tried to rerun the same python script? I

[2021-06-21 19:31] purva-thakre commented on #64
@FarooqKhaleel You might want to re-install MikTex as a single user instead of as an admin. [See this comment for more information. ](https://github.com/MiKTeX/miktex/issues/83#issuecomment-437970638)

[2021-06-22 02:03] FarooqKhaleel commented on #64
Dear @BoxiLi @purva-thakre
I hope you are doing well.
The problem is the same. The qcirc.pdf file still cant be generated. :(
I restarted my PC after re-installing miktex as a single user and I am running the following code:

from IPython.display import Image
from numpy import pi
import numpy as np
import latex
from qutip import *
from qutip_qip.operations import *
from qutip_qip.circuit import Qu

[2021-06-22 02:41] purva-thakre commented on #64
@FarooqKhaleel

Here's a couple of links that might be able to help :
- https://tex.stackexchange.com/a/67713/203959
- https://tex.stackexchange.com/a/56322/203959
- https://tex.stackexchange.com/a/547190/203959

It's possible there's a clash with some packages being installed as an admin and some not.

Have you also checked if the latest version of MikTex is installed ? After the installation, di

[2021-06-22 03:17] FarooqKhaleel commented on #64
Dear @purva-thakre
Thank you for your help.
The following error stuck. I re-installed miktex and go to packages and installed all the aforementioned latex dependencies. The error is the same. :((
Maybe there is an issue with my PC.

Traceback (most recent call last):
  File "C:\Users\msi-pc\Desktop\farrrrr.py", line 10, in <module>
    q.png
  File "C:\Program Files (x86)\Python36-32\lib\site-pack

[2021-06-22 07:41] BoxiLi commented on #64
Ok, sorry to hear that it is still not working. The pdf is still not successfully generated. It is really hard to check the LaTeX error source from python. So if you still have hope, let's do a more thorough diagnostics from the LaTeX side.

Could you copy the following lines into a text file and name it `qcircuit_example.tex`
[code]

It is a minimal example to plot quantum circuit using [qcircuit

[2021-06-22 11:23] FarooqKhaleel commented on #64
Dear @BoxiLi
I hope you are doing well and thank you very much for your help and replies. I appreciate it.
I did what you suggest literally, and nothing happened.
The command line in cmd just execute the command pdflatex and nothing happened. No pdf is generated.
Just a new command line appeared.
I am looking forward to hearing from you
thanks again for your help.
Yours sincerely,

[2021-06-22 11:40] BoxiLi commented on #64
Usually, the command `pdflatex` will leave some log files in the current directory. Did you see any new file? Like `qcircuit_example.log` or `qcircuit_example.aux`.

If you don't see anything, then there is probably still something wrong with MikTeX.

[2021-06-22 11:44] FarooqKhaleel commented on #64
I opened the windows command window as admin and run the above script.
Just a new line appears and no log file is generated at the Desktop.
:((

[2021-06-22 11:49] BoxiLi commented on #64
What about executing it not as an admin?

[2021-06-22 11:51] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122919789-5077fe00-d369-11eb-8485-17232a5372ba.JPG)
Just a new line appears.
I run it as not admin.

[2021-06-22 11:54] BoxiLi commented on #64
Ok... Nothing appears, could you try `where pdflatex` and check if the returned path is the MikTeX one?

[2021-06-22 11:56] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122920372-017e9880-d36a-11eb-9733-e5a3a2ef1531.JPG)

[2021-06-22 11:59] BoxiLi commented on #64
Ha, you have two `pdflatex` installed somehow.

Try to use `pip uninstall pdflatex` to remove that python one. And check if only the MiKTeX one remains with `where pdflatex`.

Then restart cmd and see if `pdflatex qcircuit_example.tex` gives you something reasonable.

[2021-06-22 12:06] BoxiLi commented on #64
Or `pip uninstall latextools`, `pip uninstall Latex`, if that `pdflatex` comes with them.

Just remove everything in `pip` regarding `latex`.

[2021-06-22 12:08] FarooqKhaleel commented on #64
I did it but a lot of things happening when i run the command pdflatex example.tex, I will be back as soon as possible.

[2021-06-22 12:09] BoxiLi commented on #64
Don't panic. That is as expected.

[2021-06-22 12:09] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122921938-c715fb00-d36b-11eb-9a44-610ed8237834.JPG)

[2021-06-22 12:11] FarooqKhaleel commented on #64
The pdf file is generated and the circuit is drawn perfectly. Now i return to python?

[2021-06-22 12:11] BoxiLi commented on #64
Yep

[2021-06-22 12:13] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122922568-6e932d80-d36c-11eb-9606-3b55d3ecfaa8.JPG)

[2021-06-22 12:14] FarooqKhaleel commented on #64
The drawing does not appear. Just a new line appears.

[2021-06-22 12:17] BoxiLi commented on #64
Cool, there is no error message, which means that we are likely to have succeeded.

The figure will only be rendered properly in a Jupyter Notebook. Just as the link you gave: https://nbviewer.ipython.org/github/qutip/qutip-notebooks/blob/master/examples/quantum-gates.ipynb#Gates-in-QuTiP-and-their-representation

You can now install a Jupyter notebook by
`pip install jupyter notebook`

and then u

[2021-06-22 12:20] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122923375-52dc5700-d36d-11eb-9e03-de4ff7f26eb9.JPG)

[2021-06-22 12:24] BoxiLi commented on #64
Okay, it seems that you already installed `jupyter notebook` but it is not in the system path, could you try `python -m notebook`?

[2021-06-22 12:26] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122924237-3987da80-d36e-11eb-8ef6-b6e7bd5da77c.JPG)

[2021-06-22 12:27] BoxiLi commented on #64
It could also be `python -m notebook`, `py -m notebook` depending on your system.

[2021-06-22 12:31] FarooqKhaleel commented on #64
by applying
python -m notebook

It opened in the browser, but there too many file. how can i find the picture?

[2021-06-22 12:35] BoxiLi commented on #64
It will open in the current directory. if you change the directory in cmd before calling the notebook, it will also change.

You need to create a new Jupyter Notebook by clicking the `new` button,
![image](https://user-images.githubusercontent.com/12125783/122925270-f6763900-d366-11eb-8f13-c68713460598.png)

Copy your code there and run it.

[2021-06-22 12:36] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122925543-9afc7900-d36f-11eb-887a-269902025a1f.JPG)

[2021-06-22 12:37] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/122925737-cbdcae00-d36f-11eb-9fc1-f01d03e58aa8.JPG)

[2021-06-22 12:38] FarooqKhaleel commented on #64
Finally, you are a legend.
Thank you very much for your time and efforts.
I appreciate it and i wish you all the best.

[2021-06-22 12:38] #64 closed

[2021-06-22 12:40] BoxiLi commented on #64
That's it. Bravo!

[2021-06-25 13:42] FarooqKhaleel commented on #64
@BoxiLi
Dear Dr. Boxi Li
I hope you are doing well.
Could you please tell me how can i add an input matrix and observe the output matrix independently.
For Example,
If the above circuit is CNOT,
how can i verify the I/O matrices
INPUT  -- OUTPUT
00 -- 00
01 -- 01
10 -- 11
11 -- 10
Thank you for your help Dr. Boxi.
Yours sincerely,

[2021-06-25 14:41] BoxiLi commented on #64
Hi, @FarooqKhaleel,
the simplest thing is to run `circuit.run(init_state)` for all possible computational basis states.  Checking if the outputs are expected.

PS: I'm no Dr. yet :)

[2021-06-25 14:56] FarooqKhaleel commented on #64
@BoxiLi
Thank you very much for your reply.
I am entering different inputs. However, the dimensions error occurs.
Could you please provide an example?
Thank you very much for your help. I wish you the Ph.D. degree soon with Excellent marks.
Yours sincerely,

[2021-06-25 16:29] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/123456562-a8259c00-d5eb-11eb-8d8a-48d37844e9e1.JPG)

[2021-06-25 16:32] FarooqKhaleel commented on #64
@BoxiLi
I am sorry i am taking your time @BoxiLi .
Should the output be
1
0
1
0
?
since at the input we have the first bit (at the bottom) is |0> and the first bit (upper one) is |1>?
Thank you very much for your help.
Yours sincerely,

[2021-06-25 17:58] purva-thakre commented on #64
1
0
1
0
?

If you need this output then a `CNOT` gate cannot be applied on your initial state `|00>`. You need to apply a hadamard gate which is labeled as `SNOT` [in the qip module.](https://qutip-qip.readthedocs.io/en/latest/qip-basics.html#gates) . The output of this will also have included normalization constants.

[code]

[2021-06-25 18:03] FarooqKhaleel commented on #64
@purva-thakre
Thank you very much for your time and help.
I need to enter
![Capture](https://user-images.githubusercontent.com/86245057/123467136-d5c51200-d5f8-11eb-8941-42c5655486e1.JPG)

0
1
so the output remains
0
1
and if i enter
1
0
the output is
1
1
I just want to understand this. so I can build larger circuits.
Thank you very much @purva-thakre
Yours sincerely,

[2021-06-25 18:07] FarooqKhaleel commented on #64
I studies the fundamentals of quantum computations. but I am beginner in qutip. These are my first steps.
Thank you for your help.

[2021-06-25 18:32] purva-thakre commented on #64
If you are still starting with a 2 qubit state then your initial state must be changed for the preferred output.

Instead of `tensor(basis(2,0), basis(2,0))` change the state to `tensor(basis(2,0), basis(2,0)) + tensor(basis(2,1), basis(2,1))`. Following is the changed `zero_state`.

[code]

[code]
will output following circuit
![image](https://user-images.githubusercontent.com/66048318/123469827-

[2021-06-26 02:39] FarooqKhaleel commented on #64
@purva-thakre
Thank you very much for your detailed answer.
I hope you could explain how the initial state is changed for a single ket on the wire. I mean how may i enter
1
0
to get
1
1
?
Thank you very much for your help.
Yours sincerely,

[2021-06-26 03:21] FarooqKhaleel commented on #64
![Capture](https://user-images.githubusercontent.com/86245057/123500430-b5bc3f80-d646-11eb-8d5e-c1a46d4fff34.JPG)
I tried the above, but the dimension is wrong.
why the cnot gate requires 4 input?
I just need 2 inputs.

[2021-06-26 05:18] FarooqKhaleel commented on #64
@purva-thakre
I understood the following
if I enter |10> to the CNOT gate I get the output |11> and it worked perfectly.
Thank you very much for your help and time.
Yours sincerely,

[2021-07-06 15:07] purva-thakre opened #71 "Other combinations for decomposition to rotation matrices"
In the single qubit gate decomposition module, if the gate is supposed to decomposed to product of rotation matrices then two possibilities are `ZYZ` and `ZXZ`.

[Map the angles from `ZYZ`](https://github.com/qutip/qutip-qip/pull/67#discussion_r663928532) to other combinations  - `YXY, YZY, XZX, XYX`.

[2021-07-06 15:19] purva-thakre opened #72 "Other combinations for ABC decomposition"
Use different combinations of decomposition to rotation matrices to create different combinations for ABC decomposition.

[2021-07-06 15:21] purva-thakre opened #73 "Understand issue with global phase factor function"
The output of Pauli Y is off by a global phase of -1 when decomposed with either of the single qubit decomposition functions. Understand what needs to be fixed for this - missing minus sign ?, not  use determinant of input to find the global phase ?

If there's a common multiplication factor for each element of the matrix, the function fails to remove it.

[2021-07-19 16:03] #73 closed

[2021-09-08 20:36] HumpyBlumpy opened #93 "cannot import name "Gate""
Running the first example from the documentation (https://qutip-qip.readthedocs.io/en/latest/qip-basics.html)
[code]

gives ` ImportError: cannot import name 'Gate' from 'qutip_qip.operations'`

[2021-09-08 20:42] HumpyBlumpy commented on #93
It seems that the many parts of the documentation are wrong/out of date.
[code]
`TypeError: propagators() got an unexpected keyword argument 'ignore_measurement'`

[2021-09-08 22:04] purva-thakre commented on #93
@HumpyBlumpy I leave your comment about the documentation being out of date to @BoxiLi. I think there's a disconnect between [`qutip` docs](https://qutip.org/docs/latest/guide/qip/qip-basics.html#gates) and [`qutip-qip` docs](https://qutip-qip.readthedocs.io/en/latest/qip-basics.html) and version of `qutip-qip` installed.

If you did a non-editable install, the example in `qutip` docs works by imp

[2021-09-08 22:31] HumpyBlumpy commented on #93
@purva-thakre I followed the installation instructions from the same page https://qutip-qip.readthedocs.io/en/latest/installation.html.
Namely, I just did `pip install qutip-qip`. Was I supposed to do something else? Or should I be using the qip module from qutip, i.e qutip.qip?

[2021-09-08 22:57] purva-thakre commented on #93
@HumpyBlumpy  No, you should be using `qutip_qip`. My comment was with regards to making some small changes to get your code working until someone else who has a better idea of the version installed via `pip` installation adds their comment.

[code]

[code]

[2021-09-09 06:46] BoxiLi commented on #93
@HumpyBlumpy Thanks for the issue. There are two versions of `qutip-qip` and the doc, `stable` and `latest`. You can see it at the left bottom part of the RTD doc.
![image](https://user-images.githubusercontent.com/12125783/132635745-2ded7d84-a541-4dc5-88d1-7c8f982eb918.png)

If you are using the version downloaded through `pip`. You are using the released version, and this needs to be changed to

[2021-09-09 07:32] BoxiLi commented on #93
I have updated the link in the README etc so that they all direct to the stable version. Thanks for pointing this out.

[2021-09-11 20:09] HumpyBlumpy commented on #93
Thanks!

[2021-09-11 20:09] #93 closed

[2021-10-05 12:17] nathanshammah opened #97 "Show all API-doc on same page and TOC"
Right now Submodules are separated from Subpackages. Also the TOC in does not show it all together.
https://qutip-qip.readthedocs.io/en/latest/_apidoc/qutip_qip.html

[2021-10-05 12:27] nathanshammah opened #98 "Pulse class: consider changing description or code refactoring"
It has been brought up that the `Pulse` class can be confusing for the user, as it brings together control pulses, the relative Hamiltonian, and noise added to the control pulses. This issue is opened to discuss this point and see what action to take.

 There is also some conceptual overlap between `qutip-qip.Pulse` and `qutip.QobjEvo` (and `qutip.Qobj` for the time-constant part).

Right now the

[2021-10-10 12:01] BoxiLi commented on #98
My preferred solution would be:
- Add a `Model` class that represents the Hamiltonian model in `Processor` (see below).
- Bring the introduction of `Pulse` a bit down as an advanced use, both in the paper and in the tutorial. Phrase it as a data class rather than focusing too much on the concepts. It is different from `QobjEvo` because it separates noise from the ideal dynamics. And it needs to ha

[2021-11-22 14:00] #98 closed

[2022-01-17 04:26] EnBr55 opened #118 "Add Variational Quantum Algorithms Module"
QuTiP currently lacks any functionality directly related to VQAs. It would be useful to have a class-based implementation that allows for problem specification down to the details of parametrized/fixed Hamiltonians and the optimisation method.

To outline a possible structure for this module, I have implemented something along these lines in [my fork of this repository](https://github.com/EnBr55/q

[2022-01-17 21:26] nathanshammah opened #119 "Update figure"
Remove the figure at https://qutip-qip.readthedocs.io/en/latest/qip-processor.html#the-workflow-of-the-simulator and update with latest version from manuscript.

[2022-01-17 21:33] nathanshammah commented on #118
This is great @EnBr55, looking forward to discussing more with @BoxiLi and other contributors. As a small comment, all names proposed look very "pythonic" :) and the tutorial looks great.

[2022-01-19 19:15] BoxiLi commented on #118
Hi @EnBr55, thanks very much for dragting this issue. This is very intriguing. Adding a VQA will definitely be a very useful feature to qutip-qip. It can also be easily integrated with the pulse-level simulation once this VQA class is constructed. Feel free to open a PR and happy to discuss!

Some thoughts of mine:
- Is it correct to understand the `VQA` class as a special type of gate (defined by

[2022-01-20 23:15] EnBr55 commented on #118
Thanks for your thoughts, @BoxiLi !

- I would describe the `VQA` class as more of a superset of `QubitCircuit`. It has a method (`construct_circuit`) which can generate `QubitCircuit` instances. The `VQA_Block` I think is closer to what you mean by special type of gate, as it contains a `get_unitary` method (which can be defined in a few different ways) which can be passed straight into a user-de

[2022-01-22 16:38] BoxiLi commented on #118
Thanks for the answers.

Yes I meant VQA_Block, somehow I forgot the "block" after I started typing :) These all make sense.

Ah I think now I get it, the initial layer and those repeated once.

About the `Parameterized_Hamiltonian`. If I understand correctly, each VQE block will be computed by
[code]
where `c_i` are the parameters for VQA to optimize.
What `Processor` does is implementing this

i

[2022-01-25 02:50] EnBr55 commented on #118
I like this workflow suggested with the `Processor` class. I'll see if I can implement this after the base stuff is done, thanks!

[2022-02-04 11:26] ajgpitch commented on #118
Indeed, a very interesting project.

Sorry to be very dull, but should we not avoid underscores in class names?

[2022-02-07 11:17] EnBr55 commented on #118
Good catch, thanks - not sure why my linter didn't pick that up.

[2022-02-10 18:41] #119 closed

[2022-03-25 08:00] cgranade opened #133 "Allow setting dpi/density when exporting circuits to PNG."
Currently, the density for exporting circuits to PNG is hard-coded to 100dpi (https://github.com/qutip/qutip-qip/blob/master/src/qutip_qip/circuit_latex.py#L122). It'd be really helpful to be able to configure that and export higher-resolution circuit diagrams when appropriate. Thanks! ♥

[2022-04-14 08:20] srinathkp commented on #133
Hi @cgranade  / @BoxiLi , I'm interested in qutip project for GSoC'22. As this is marked as a good first issue, I'd like to work on this. I see that we use imagemagick to convert to png and that the density is hard-coded to 100 now. Where can we take the dpi/density argument from ?

[2022-04-14 12:11] BoxiLi commented on #133
Hi @srinathkp, great! Currently the plot is only used for plotting in the notebook
https://github.com/qutip/qutip-qip/blob/497fa2f999297e7df6ae5497cc78d6f09bf4cac6/src/qutip_qip/circuit.py#L2055-L2066
Hence there is no argument taken.

You can consider adding an method like `QubitCircuit.draw(file_type="png", dpi=100)` that outputs a figure file.

[2022-04-15 23:40] claretgrace0801 commented on #51
Hey, I'm interested in contributing to QuTiP and doing a project for GSoC '22
I would like to take up this issue.

Approach:
Add a `caller` argument to `qutip`'s about function (defaulting to "qutip"). Modify `qutip.about` to handle the case when caller is "qutip_qip". This can also be generalised to other qutip libraries.

[2022-04-19 05:37] TheCharmingSociopath commented on #62
Hi,

If this enhancement is still relevant (which I think it is, installing a Tex distribution is heavy and painful) can I take this issue up?

The approach you mentioned in the example seems easy to implement, push all the returned sympy gate objects into a list and write a function to plot them using `sympy.physics.quantum.circuitplot`, passing the said list as a parameter.

[2022-04-19 08:20] BoxiLi commented on #62
Hi @TheCharmingSociopath, yes, this enhancement is still relevant. You are very welcome to take this issue up.

The only thing is that right now our own gate classes have not yet been merged (https://github.com/qutip/qutip-qip/pull/96). So you probably need to define `get_sympy_object` under the class `Gate` and add lots of if branches to check the name of the gate. Nonetheless, it should work, I

[2022-04-22 04:47] srinathkp commented on #133
Hi @BoxiLi / @cgranade , the converter functions for _pdf, png_ and _svg_ are made with fixed configurations(hard-coded dpi value of 100) using `circuit_latex._make_converter(configuration)`. We can add an element to `_CONVERTER_CONFIGURATIONS` list with density value from the user but it will mean that a new converter has to be made every time user tries to export an image. A more dynamic approac

[2022-04-22 07:50] BoxiLi commented on #133
Hi @srinathkp, yes I agree with your argument. Could you make a PR using that branch? It would be easier to review because the PR shows directly what has been changed.

[2022-04-22 07:57] srinathkp commented on #133
Hey @BoxiLi , Thanks for the feedback, Wanted to discuss here before I implement and test it. Will raise a PR when I'm done.

[2022-04-22 09:48] BoxiLi commented on #133
In the current way, the dpi is written fixed in the configuration of the converter
https://github.com/qutip/qutip-qip/blob/497fa2f999297e7df6ae5497cc78d6f09bf4cac6/src/qutip_qip/circuit_latex.py#L142-L157

I guess you meant that we can allow an additional argument here for the generated converter. E.g. dpi etc. I think compared to allowing arbitrary arguments, it is better to just allow the dpi e.

[2022-04-22 10:39] srinathkp commented on #133
Yeah, instead of making a converter with user defined dpi every time, We can do the conversion directly with ImageMagick and save the file when user calls this

https://github.com/srinathkp/qutip-qip/blob/6ba13079ac17f14ede63c15e4b3b8f08e23b90f0/src/qutip_qip/circuit.py#L2070

We'll abstract the ImageMagick part from the user so he/she doesn't need to know what it is. Just the dpi value here and t

[2022-04-22 11:18] BoxiLi commented on #133
Yeah, sounds good.

If you encounter anything while you are playing with it, you are always welcome to add more error messages here and there :)

[2022-04-26 17:02] srinathkp commented on #133
Hi @BoxiLi , I created a PR with the changes - #139 . The workflow checks are pending without approval. Can you take a look

[2022-04-30 09:07] #133 closed

[2022-04-30 09:37] #118 closed

[2022-05-11 09:43] Buffoni commented on #71
Hey @purva-thakre @BoxiLi , I'm interested in contributing to this package and doing a project for GSoC '22
Since this issue doesn't seem to be resolved yet could I jump in and help?

We can probably create a method _angles_for_rotation that defaults to output the angles of a zyz rotation and make the other ones available as alternative decomposition if requested by the user. It shouldn't be too d

[2022-05-12 08:20] Buffoni commented on #71
Ok, I'll see how I can contribute to other issues or open a new one, thanks!

[2022-05-13 15:18] Buffoni opened #143 "Tutorial notebooks"
Hi @BoxiLi @nathanshammah, I'm interested in contributing to this package as I applied for a project for GSoC '22.
I think it could be good to implement some tutorial notebooks to showcase some functionalities of qutip-qip in a user-friendly way. Do you think it could be a good idea?

[2022-05-13 16:01] BoxiLi commented on #143
Hi @Buffoni, there are a few qip-related notebooks available on https://qutip.org/tutorials.html. You are very welcome to improve upon them or add any new ones!

[2022-06-15 14:43] Wikstahl opened #148 "Casting complex values to real discards the imaginary part during run state"
Hi! I found the following error during run state when using discrete pulse mode and having complex pulse coefficients

**qutip-qip/src/qutip_qip/pulse.py:646**

[2022-08-19 20:32] claretgrace0801 opened #161 "Measurements with time evolution"
When using the pulse models to simulate the time evolution a state, if there are measurements being done in a circuit, the execution fails.

Could time evolution account for measurements?

A possible approach could be to collapse a state, on measurement, into a mixture (with appropraite probabilities) of all the measurement outcomes (to get a density matrix). Then continue evolution from that poin

[2022-08-25 07:45] BoxiLi commented on #161
It seems that this should now be possible with the new low-level interface `solver.step`.  Similar to the discussion in https://github.com/qutip/qutip/issues/1571, we should be able to evaluate the circuit up to a measurement step, perform the measurement and then start the next step until a second measurement occurs.

Another question that remains to be discussed is how we interpret the measureme

[2022-09-01 19:19] hodgestar opened #164 "Circuit.run ignores supplied measure_results."
Constructing a simple circuit like so:
[code]
and then performing
[code]
Does not always return the `0` state.

The issue is that `.run()` passes `measure_results` to the `CircuitSimulator` constructor, but not to `CircuitSimulator.run` which then overwrites `measure_results` with `None`.

Also, the docstring for `.run_statistics` documents `measure_results` but doesn't take it as a parameter. Thi

[2022-09-02 20:44] hodgestar opened #165 "Chain transpiler calls QubitCircuit with incorrect arguments"
The method `to_chain_structure` calls:
[code]
but the second argument to `QubitCircuit` is `input_states`. It should call
[code]
It should probably copy more arguments from the circuit being modified too (e.g. input states, output states, num_cbits).

[2022-09-02 21:11] hodgestar opened #166 "Swap gates are incorrectly rendered in LaTeX"
The function `latex_code()` in `circuit.py` does:
[code]
but the `qcircuit` package expects this to be `\qwx[-%d]` -- note the minus sign. This causes the pdflatex compilation to fail if the swap goes below the circuit (at least recent enough versions of qcircuit throw an error).

See https://mirrors.evoluso.com/CTAN/graphics/qcircuit/qcircuit.pdf for the qcircuit documentation.

[2022-09-08 08:49] #164 closed

[2022-09-12 10:53] BoxiLi opened #171 "Align the signatures of gate functions with qutip-v5"
In qutip-v5 the gate functions no longer take parameters `N` , `targets` and `control`, which permute the qubits if needed and generate gate operators in a larger Hilbert space. Although many of the gates are moved to `qutip.core.gates`, these additional parameters are removed in qutip-v5. Also, the signature of `expand_operator` is slightly changed to be more general.

To avoid confusion and code

[2022-09-16 09:22] #166 closed

[2022-09-19 11:22] erikawa-e opened #172 "problem with the usage of "IDLE" gate"
Hello,
I have a question regarding the usage of "IDLE" gate.

[code]

[code]

[code]

With the above codes, I obtained the following result:

, which is fine.

However when I set "waittime=0.2", I obtained a wrong result:

It is strange...

It looks like any gate cannot be applied the "IDLE" gate...

[2022-09-20 09:14] BoxiLi commented on #172
Hello @erikawa-e,

it is indeed very strange. I failed to reproduce this on my machine. Could you tell me which version of `qutip-qip` you are using? I just checked with the released version `0.2.2` and it returns:
[code]
which looks correct?

[2022-09-20 09:19] BoxiLi commented on #172
Ah I see, it only appears when you set `waittime=0.2`. Now I can reproduce it, let me check in detail.

[2022-09-20 09:39] BoxiLi commented on #172
Got it, we are caught again by this issue https://github.com/qutip/qutip/issues/1945

**The reason:**
QuTiP solvers use adaptive step size, which means that they automatically choose the best step size for the time evolution. If the Hamiltonian is small, they increase the step size to speed things up. However, if we have a long IDLE, the Hamiltonian is 0. The solvers may choose a step size that is

[2022-09-22 15:11] erikawa-e commented on #172
I got it!! Many thanks!!

[2022-09-22 15:11] #172 closed

[2022-11-09 14:47] BoxiLi opened #178 "Add tests for the circuit plotting"
Install texlive and the circuit plotting dependencies in one of the test actions and add a few tests.

[2022-11-09 14:48] BoxiLi commented on #178
Examples can be found in https://github.com/qutip/qutip-tutorials/blob/main/.github/workflows/notebook_ci.yaml

[2022-11-14 18:25] LeonWubben opened #179 "Regarding the types of the parameters of QubitCircuit.add_gate"
Currently the parameters for `QubitCircuit.add_gate` [require](https://qutip.org/docs/latest/apidoc/classes.html#qutip.qip.circuit.QubitCircuit.add_gate):

1. targets and controls to be a list
2. arg_value to be a float

1\. is fine, however just integers work as in the method it's straight up put in a `Gate` object [which does accept both integers and lists](https://qutip.org/docs/latest/apidoc/c

[2022-11-16 22:56] BoxiLi commented on #179
Hello @LeonWubben, sorry for the late reply. Thanks a lot for pointing those out!

Yes,  you are right, the docs are a bit incomplete there.  For the `arg_value`, indeed it can be a tuple or even a dictionary as long as it is adequately treated when creating the corresponding unitary. Something similar to `qc.add_gate("r_gate", targets=q, args={"theta": np.pi, "phi": 0}` is already used in a few p